// Font.
$font: (
  primary: ("Roboto", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #6D6969,
  secondary:     darken(#6D6969, 15%),
  meta:          lighten(#6D6969, 25%),
  //border:        lighten(#6D6969, 52%),
  //bg:            lighten(#6D6969, 58%),
  
  border:        #361411,
  bg:            #FFFAF8,

  accent:        #f65c4d,
  accent-blue:   #23A7A8,
  accent-black:  #361411,
  accent-red:    #f65c4d
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
